      <style>
      h1 {
         font-size: 312.5%;
         color: purple;
         font-family: coronet script;
         text-align: center;
         margin: auto;
         margin-top: 10px;
        }
      #main-text {
         text-align: center;
         font-family: optima;
         margin-top: 320px;
         margin-left: 500px;
         margin-right: 80px;
         font-size: 20px;
         color: white;
         z-index: 1;
        }
      .contenedor {
          display: relative;
          width: 900px;
          height: auto;
          border: 1px solid grey;
          margin: auto;
          margin-top: 20px;
          background-image: url(https://i.pinimg.com/736x/a2/da/dd/a2dadd2bc7285dffaa2c67b2152cc280.jpg);
          background-size: cover;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          text-align: center;
        }
      #header {
         width: 670px;
         height: auto;
         display: block; 
         margin-left: 150px; 
         margin-right: auto;
         margin-top: 30px;
         position: absolute;
         border-radius: 25px;
        }
      body {
        background-color: #bababa;
        text-align: center;
        }
      .sellos1 {
        z-index: 2;
        display: block;
        margin-top:312px;
        position: absolute;
        margin-left: 30px;
       }
      #yatora {
        width: 100px;
        height: auto;
      }
      </style>
      <!--yatora esta conectado con los sellos1-->
      <style>
      #texto-final {
        margin-top: 10px;
        font-family: optima;
      }
      #imagen-abajo {
        position: absolute;
        display: block;
        z-index: 100;
        top: 40px;
        margin-left: 170px;
        margin-right: auto;
        width: 600px;
        height: auto;
      }
      #cajita {
        position: absolute;
        margin-left: 500px;
        margin-top: 315px;
        width: 360px;
        height: 200px;
        background-color: #4c7f90;
        opacity: 60%;
        border-radius: 25px;
        filter: blur(5px);
    </style>
